ErrorDocument 401 https://jekeru.fr/401.html
ErrorDocument 402 https://jekeru.fr/402.html
ErrorDocument 403 /403.html
ErrorDocument 404 https://jekeru.fr/404.html

RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^jekeru\.fr$ [OR]
RewriteCond %{HTTP_HOST} ^www\.jekeru\.fr$
RewriteRule ^/?$ "https\:\/\/jekeru\.fr\/" [R=301,L]

Options -Indexes 