* {
    margin: 0;
    padding: 0;
    cursor: crosshair;
}

body {
    background: #f1f1f1;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    transition: all .3s ease-in-out;
}

body.load {
    opacity: 0;
    transform: scale(0.9);
}

.logo {
    width: 200px;
    transition: transform .6s ease-in-out;
    margin: 5px;
}

body.load .logo {
    transform: scale(1.1);
}

p,
a {
    margin-top: 5px;
    font-size: 11px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    text-decoration: none;
    transition: opacity .6s .1s ease-in-out
        /* , transform 1s .3s ease-in-out */
    ;
}

body.load a,
body.load p {
    opacity: 0;
    /* transform: translateY(100%); */
}

a:hover {
    font-style: italic;
}

.social_ico {
    max-width: 100px;
    transition: all .1s ease-in-out;
}

.social_ico:nth-of-type(1) {
    margin-right: 1em;
}

body.load figure {
    opacity: 0;
    transform: scale(0);
}

figure {
    transition: all .6s ease-in-out;
    opacity: 1;
    transform: scale(1);
}

figure figcaption {
    display: none;
}

/* figure:hover figcaption {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
} */

.social_ico:hover {
    transform: scale(1.1);
}

a:hover ~ body {
    filter: invert(1);
}